/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-instance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: border;
  border-color: black;
  border-style: solid;
}